* {
	margin: 0;
	padding: 0;
}

body {
	min-width: 800px;
	min-height: 600px;
	overflow: auto;
}

li {
	list-style-type: none;
}

header {
	position: fixed;
	top: 0;
	width: 100%;
	height: 59px;
	background: #ddd;
	border-bottom: 1px solid #ccc;
}

header p {
	font-size: 20px;
	color: #999;
	height: 100%;
	line-height: 59px;
	margin-left: 10px;
}

.main {
	position: fixed;
	top: 60px;
	bottom: 0;
	width: 100%;
	height: 100%;
}

.sec-left, .sec-middle {
	float: left;
	width: 229px;
	height: 100%;
	background: #f2f2f2;
	border-right: 1px solid #ccc;
}

.categories {
	padding-top: 15px;
}

.categories .selected {
	background-color: #fff;
}

.categories li {
	cursor: pointer;
}

.categories .first-level > li {
	text-indent: 1em;
	line-height: 35px;
	font-size: 15px;
}

.categories .all-task > li {
	text-indent: 2em;
	line-height: 30px;
	font-size: 14px;
}

.categories .all-task span {
	margin-left: 8px;
}

.categories .all-task > li > img {
	position: relative;
	top: 2px;
	width: 10px;
	height: 12px;
}

.categories .second-level > li {
	text-indent: 2em;
	line-height: 30px;
	font-size: 14px;
}

.categories .second-level > li > img{
	width: 15px;
	height: 11px;
}

.categories .second-level span {
	margin-left: 8px;
}

.categories .third-level > li {
	text-indent: 4em;
	line-height: 30px;
	font-size: 13px;
}

/*.categories .third-level > li:hover {
	background-color: red;
}*/

.categories .third-level > li > img {
	position: relative;
	top: 2px;
	width: 10px;
	height: 12px;
}

.categories .third-level .remove-icon,
.categories .second-level .remove-icon,
.categories .all-task .remove-icon {
	position: absolute;
	right: 30px;
	top: 11px;
	width: 8px;
	height: 8px;
	display: none;
}

.sec-left .new, .sec-middle .new {
	position: fixed;
	bottom: 0;
	left: 0;
	width: 229px;
	height: 40px;
	line-height: 40px;
	border-top: 1px solid #ccc;
	font-size: 12px;
	text-align: center;
	background: #eee;
	cursor: pointer;
}

.sec-left .new img, .sec-middle .new img {
	width: 12px;
	height: 12px;
	position: relative;
	top: 2px;
}

.sec-middle .new {
	left: 230px;
}

.sec-middle .filter {
	font-size: 12px;
	line-height: 20px;
	height: 20px;
	padding: 10px;	
	background: #eee;
	border-bottom: 1px solid #ccc;
	overflow: hidden;
	*zoom: 1;
}

.sec-middle .filter li {
	float: left;
	margin-right: 12px;
	cursor: pointer;
}

.sec-middle .filter .selected {
	position: relative;
	top: -2px;
	padding: 1px 5px;
	border: 1px solid #ccc;
	background-color: #fff;
}

.sec-middle .todos {
    position: absolute;
    height: 100%;
    top: 41px;
    width: 229px;
    background: #fff;
}

.todos .first-level > li {
	font-size: 15px;
	text-indent: 1em;
	line-height: 35px;
	background-color: #fafaee;
}

.todos .second-level > li {
	font-size: 14px;
	text-indent: 2em;
	line-height: 30px;
	background-color: #fff;
	cursor: pointer;
}

.todos .second-level .selected {
	background: #f2f2f2;
}

.finished-todo {
	color: green;
}

.sec-right, 
.sec-right-edit {
	float: left;
	position: absolute;
	left: 460px;
	right: 0;
	height: 100%;
	overflow-y: auto;
	min-width: 340px;
	min-height: 540px;
}

.sec-right .title, 
.sec-right-edit .title,
.sec-right .date,
.sec-right-edit .date {
	height: 52px;
	border-bottom: 1px solid #ccc;
}

.sec-right .title, 
.sec-right-edit .title {
	background: #f2f2f2;
}

.sec-right .date,
.sec-right-edit .date {
	background: #fafaee;
}

.sec-right .title, 
.sec-right .date span {
	line-height: 52px;
	padding-left: 15px;
}

.sec-right .title, 
.sec-right-edit .title {
	font-size: 18px;
}

.sec-right .title img {
	position: absolute;
	top: 17px;
	right: 60px;
	width: 22px;
	height: 18px;
	cursor: pointer;
}

.sec-right .title img+img, 
.sec-right-edit .title img+img{
	right: 20px;
}

.sec-right .date span {
	font-size: 14px;
}

.sec-right .content {
	position: absolute;
	top: 106px;
	right: 0;
	bottom: 0;
	left: 0;
	padding: 15px;
}

.sec-right .content>p {
	margin-bottom: 100px;
}

.sec-right-edit {
	display: none;
}

.sec-right-edit .title>input,
.sec-right-edit .date>input {
	width: 60%;
	height: 52px;
	border: none;
	padding-left: 10px;
	background-color: #f2f2f2;
}

.sec-right-edit .date>input {
	background-color: #fafaee;
}


.sec-right-edit .title>input:focus, 
.sec-right-edit .date>input:focus {
	outline: none;
}

.sec-right-edit .content>textarea {
	position: absolute;
	top: 106px;
	right: 0;
	bottom: 0;
	left: 0;
	width: 98%;
	margin: 20px 10px 80px;
	border: none;
}

.sec-right-edit .content>textarea:focus {
	outline: none;
}